<ng-container *ngIf="users.length"; else loader>
    <table class="table condensed striped">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>#</th>
                <th (click)="sort('lastname')">Lastname</th>
                <th>Firstname</th>
                <th (click)="sort('role')">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td><input type="checkbox"></td>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname | uppercase }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.role.label | uppercase }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<ng-template #loader>
    <div class="loader">
        Users are loaded..
    </div>
</ng-template>

