@import "./../../../../styles.scss";

div {
    &.footer {
        height: inherit;
        width: inherit;
        background-color: $--primary;
        border-top: solid 1px $--secondary;
        box-shadow: Opx -1.2em .8em -1em $--secondary;
    }
}