/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;500&display=swap');

/**
* Colors
**/
$main-color: #edede9;
$second-color: #d6ccc2;
$third-color: #f5ebe0;
$four-color: #e3d5ca;
$fifth-color: #d5bdaf;

/**
* Names colors
**/
$--primary: $fifth-color;
$--secondary: $second-color;
$--light: $main-color;
$--warn: $third-color;
$--danger: darken($four-color, 15%);

body {
    margin: 0;
    padding: 0;
    background-color: $--light;
    font-family: 'Roboto Condensed';
}